.area_mensagem {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  top: 85%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.message {
  margin-right: 5em;
  width: 15%;
  background-color: #121212;
  padding: 0.5em;
  border-radius: 1em;

  animation: animacaoMensagem 2s forwards;

  -webkit-box-shadow: 19px 14px 62px -8px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 19px 14px 62px -8px rgba(255, 255, 255, 0.5);
  box-shadow: 19px 14px 62px -8px rgba(255, 255, 255, 0.5);

  border-bottom: 1em solid #ffffff;
}

@keyframes animacaoMensagem {
  0% {
    transform: translateY(15rem);
  }

  20% {
    transform: translateY(0rem);
  }

  80% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(15rem);
  }
}

.message-header {
  display: flex;
  justify-content: space-between;

  svg {
    min-height: 2.5em;
    max-width: 2.5em;
    cursor: pointer;
  }

  path {
    color: #ffffff;
  }

  circle {
    cursor: pointer;
  }

  svg:hover {
    path {
      color: #dec129;
    }
  }
}

.mensagem_gerada {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;

  font-family: "inter";
  font-size: 1.1em;
  font-weight: 600;
  color: #ffffff;
}
