header {
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  background-color: #d101ab;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 2.5em 0 2.5em;

  h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #ffffff;
    min-width: 5em;
    max-width: 5em;
    text-align: left;
  }
}

.date {
  margin-top: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 7em;
  max-height: 7em;

  // background: red;
}

.relogio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7em;
  max-height: 7em;
  margin-right: 1em;

  // background: blue;

  p {
    font-family: "Inter";
    font-weight: 800;
    letter-spacing: 0.1em;
    background: linear-gradient(
      180deg,
      rgba(81, 43, 212, 1) 0%,
      rgba(81, 43, 212, 1) 55%,
      rgba(60, 86, 223, 0) 77%,
      rgba(0, 212, 255, 0) 100%
    );
    color: transparent;
    background-clip: text;
    font-size: 9em;
  }
}

.dia-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 7em;
  max-height: 7em;

  // background: green;

  P {
    background: linear-gradient(
      180deg,
      rgba(81, 43, 212, 1) 0%,
      rgba(81, 43, 212, 1) 55%,
      rgba(60, 86, 223, 0) 77%,
      rgba(0, 212, 255, 0) 100%
    );
    color: transparent;
    background-clip: text;
    font-size: 2.5em;
    font-family: "Inter";
    font-weight: 800;
    letter-spacing: 0.1em;
  }
}

.idioma {
  padding: 0.2em 0.8em;
  background: #121212;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  -webkit-box-shadow: 19px 18px 60px -11px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 19px 18px 60px -11px rgba(0, 0, 0, 0.8);
  box-shadow: 19px 18px 60px -11px rgba(0, 0, 0, 0.8);

  img {
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;


  }

  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #ffffff;
    text-align: right;
  }

  svg {
    min-height: 2em;
    max-width: 2em;
  }

  path {
    color: #ffffff;
  }
}
